<a href="/users/logout" class="btn btn-secondary" style="background-color: #EE9AA5;">Logout</a> <br>
<a href="/home" class="btn btn-secondary" style="background-color: #8FF5C2;">Home</a> <br>
<a href="/dashboard" class="btn btn-secondary" style="background-color: #C58AFC;">Dashboard</a> <br>
<a href="/subscriptions" class="btn btn-secondary" style="background-color: #5ED4E5;">Subscriptions</a>